
body {
    background-color: #777777;
}


/* Upper half ------------------------------*/
#upper-half {
    width: 100%;
}
#upper-bar {
    width: 100%;
    background-color: #000000;
    color: #04BEF2;
    font-size: 24px;
    overflow: auto;
}

#machine-select {
    float: right;
}

.screen {
    width: 660px;
    float: left;
}

.canvasContainer {
    display:inline-block;
    height: 320px;
    vertical-align: top;

    border-style: solid;
    border-width: 10px;
    border-color: #444444;
}

#title-bar {
    width: 100%;
    background-color: #000000;
    color: #04BEF2;
    font-size: 20px;
    overflow: auto;
}
#games-list, #load-game {
    float: left;
    margin-right: 10px;
}
#play-button, #pause-button, #step-button {
    float: right;
    margin-left: 10px;
}
#speed-select-span {
    float: right;
}
.btn {
    background-color: #000000;
    color: #04BEF2;
    border-color: #04BEF2;
    border-width: 2px;
    font-size: 20px;
}
.slct {
    background-color: #000000;
    color: #04BEF2;
    font-size: 20px;
    border-color: #04BEF2;
    border-width: 2px;
}

/* Instructions */
.instructionsContainer {
    float: left;
    margin-left: 10px;
    background-color: #EEEEEE;
    font-size: 20px;
    border-color: #333333;
    border: solid;
    width: 400px;
    height: 392px;
    /* overflow-y: scroll; */
}
#instructions-title {
    font-size: 24px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
#instructions {
    margin-left: 15px;
}


/* Bottom Half ------------------------------*/
#bottom-half {
    clear: both;
}

/* Keyboard display */
#keyboard-div {
    width: 660px;
    display: inline-block;
}
#keyboard-label {
    text-align: center;
    font-size: 20px;
    /* font-family: monospace; */
}
.keyboardContainer {
    /* Ghetto solution since I couldn't get it to align in the center of the parent div */
    margin-top: 15px;
    margin-left: 225px;

    display: inline-block;
    vertical-align: top;
    border-color: #AAAAAA;
    background-color: #AAAAAA;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
}
.keyboardButton {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 25px;
}
.keyboardButton.active {
    color: white;
    background-color: #008;
    border: none;
}
/* Remove outline from around button when focused that is on some browsers. */
.keyboardButton:focus {
    outline: none;
}

/* Memory display */
.debugContainer {
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
}
#debugButtonContainer {
    width: 100%;
}
.js-toggleDebug {
    font-size: 20px;
    margin-bottom: 10px;
    /* border-radius: 5px; */
    /* border-width: 15px; */
    /* background-color: #EEEEEE; */
    /* border: solid; */
}
#debugOptions {
    display: none;
    vertical-align: top;
    background-color: #EEEEEE;
    border-color: #333333;
    border: solid;
    padding: 5px;
}
.memory {
    /* display: none; */
    height: 400px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid black;
    overflow-y: scroll;
    background-color: white;
    font-family: monospace;
}

.register {
    display: inline-block;
    background-color: white;
    padding: 4px;
    border: 1px solid black;
    font-family: monospace;
}
.register.updated {
    background-color: #f80;
}
