
body {
    background-color: #DDD;
}

/* Titlebar display */
#games-list {
    float: left;
    margin-right: 10px;
}
#load-game {
    float: left;
    margin-right: 10px;
}


/* Canvas screen display */
.canvasContainer {
    display:inline-block;
    height: 400px;
    vertical-align: top;
}

/* Memory display */
.memoryContainer {
    display: inline-block;
    vertical-align: top;
}
.memory {
    display: none;
    height: 400px;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid black;
    overflow-y: scroll;
    background-color: white;
    font-family: monospace;
}

/* Keyboard display */
.keyboardContainer {
    display: inline-block;
    vertical-align: top;
}
.keyboardButton {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 25px;
}
.keyboardButton.active {
    color: white;
    background-color: #008;
    border: none;
}
/* Remove outline from around button when focused that is on some browsers. */
.keyboardButton:focus {
    outline: none;
}
